<%-include("header");-%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<hr>
<%posts.forEach(function(post) {%>
    <h2><%=post.title%></h2>
    <p><%=post.body%></p>
    <hr>
<%});%>
<%-include("footer");-%>